@model DataViewModel<Category>
@{
    ViewData["Title"] = "Category List";
}
<h1>@ViewData["Title"]</h1>

@(Html
    .Grid(Model.Data)
    .Build(columns =>
    {
        columns.Add(Model => $"<button onclick=\"doEdit('{Model.categoryId}')\">Edit</button>").Encoded(false);
        columns.Add(Model => $"<button onclick=\"doDelete('{Model.categoryId}')\">Delete</button>").Encoded(false);
        columns.Add(Model => Model.categoryId).Titled("Category Id");
        columns.Add(Model => Model.categoryName).Titled("Category Name");
        columns.Add(Model => Model.description).Titled("Description");        
    })
    .Using(GridFilterMode.Header)
    .Empty("No data found")
    .Filterable()
    .Sortable()
    .Pageable(pager => {
        pager.RowsPerPage = 8;
    })
)

<button onclick="doInsert()">Insert</button>

<script>
function doEdit(id)
{
    window.alert("Edit:"+id);
}    
function doDelete(id)
{
    window.alert("Delete:"+id);
}    
function doInsert(id)
{
    window.alert("Insert");
}    
</script>
