@model AboutViewModel
@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-4">Version</h1>    
    <p>Web: @Model.Version</p>
    <p>Database: @Model.DataVersion</p>
</div>
