@using webtest1.Controllers
@model DataViewModel<Customer>
@{
    ViewData["Title"] = "Customer Insert";
}
<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm("GetCustomer", "Customer", FormMethod.Post))
{
    
}
