name: Publish Docker image
on:
  push:
    branches:
      - main 
jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Output Run ID
        run: echo ${{ github.run_id }}
      - name: Output Run Number
        run: echo ${{ github.run_number }}
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Docker meta
        id: meta
        uses: crazy-max/ghaction-docker-meta@v2
        with:
          # list of Docker images to use as base name for tags
          images: mgkaiser/webtest1
          # generate Docker tags based on the following events/attributes
          flavor: |
            latest=true
          tags: |
            type=sha
            type=raw,enable=true,prefix=Build,value=${{ github.run_number }}
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Push to Docker Hub
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true          
          tags:   ${{ steps.meta.outputs.tags }} 
          labels: ${{ steps.meta.outputs.labels }}    

